.main-body {
    width: 450px;
    font-family: 'Open Sans Condensed';
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
    font-weight: bold !important;
}
.response-box{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin: 30px 20%;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}
.main {
    margin-left: 33%;
    margin-top: 20px;
}
.level {
    color: white;
    background: tomato;
    letter-spacing: 1px;
    padding: 5px 0;
    width: 450px;
}
